{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://openlibrary.org/search.json?limit=3&sort=new&title=boston",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Ol-Stats": [
            "\"SR 1 0.061 TT 0 0.061\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"numFound\": 16887,\n    \"start\": 0,\n    \"numFoundExact\": true,\n    \"docs\": [\n        {\n            \"key\": \"/works/OL28324013W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL38759742M\",\n                \"/works/OL28324013W\",\n                \"/authors/OL4712881A\"\n            ],\n            \"title\": \"Boston Corporation Act 1935\",\n            \"title_suggest\": \"Boston Corporation Act 1935\",\n            \"title_sort\": \"Boston Corporation Act 1935\",\n            \"edition_count\": 1,\n            \"edition_key\": [\n                \"OL38759742M\"\n            ],\n            \"publish_date\": [\n                \"2035\"\n            ],\n            \"publish_year\": [\n                2035\n            ],\n            \"first_publish_year\": 2035,\n            \"isbn\": [\n                \"9780105200260\",\n                \"0105200263\"\n            ],\n            \"last_modified_i\": 1658136719,\n            \"ebook_count_i\": 0,\n            \"ebook_access\": \"no_ebook\",\n            \"has_fulltext\": false,\n            \"public_scan_b\": false,\n            \"publisher\": [\n                \"Stationery Office, The\"\n            ],\n            \"language\": [\n                \"eng\"\n            ],\n            \"author_key\": [\n                \"OL4712881A\"\n            ],\n            \"author_name\": [\n                \"Great Britain\"\n            ],\n            \"publisher_facet\": [\n                \"Stationery Office, The\"\n            ],\n            \"_version_\": 1767922383150120960,\n            \"author_facet\": [\n                \"OL4712881A Great Britain\"\n            ]\n        },\n        {\n            \"key\": \"/works/OL29207495W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL40173369M\",\n                \"/works/OL29207495W\",\n                \"/authors/OL7636662A\"\n            ],\n            \"title\": \"Boston Road Trips\",\n            \"title_suggest\": \"Boston Road Trips\",\n            \"title_sort\": \"Boston Road Trips\",\n            \"e[...]
