{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://openlibrary.org/search.json?limit=5&sort=new&title=boston,ma",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Ol-Stats": [
            "\"SR 1 0.059 TT 0 0.060\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"numFound\": 125,\n    \"start\": 0,\n    \"numFoundExact\": true,\n    \"docs\": [\n        {\n            \"key\": \"/works/OL27919088W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL38158507M\",\n                \"/works/OL27919088W\",\n                \"/authors/OL10417851A\"\n            ],\n            \"title\": \"Wicked Smaaht Boston MA Funny Boston Gift\",\n            \"title_suggest\": \"Wicked Smaaht Boston MA Funny Boston Gift\",\n            \"title_sort\": \"Wicked Smaaht Boston MA Funny Boston Gift\",\n            \"edition_count\": 1,\n            \"edition_key\": [\n                \"OL38158507M\"\n            ],\n            \"publish_date\": [\n                \"2022\"\n            ],\n            \"publish_year\": [\n                2022\n            ],\n            \"first_publish_year\": 2022,\n            \"isbn\": [\n                \"9798803799993\"\n            ],\n            \"last_modified_i\": 1653631624,\n            \"ebook_count_i\": 0,\n            \"ebook_access\": \"no_ebook\",\n            \"has_fulltext\": false,\n            \"public_scan_b\": false,\n            \"publisher\": [\n                \"Independently Published\"\n            ],\n            \"language\": [\n                \"eng\"\n            ],\n            \"author_key\": [\n                \"OL10417851A\"\n            ],\n            \"author_name\": [\n                \"Chris GUERRERO\"\n            ],\n            \"publisher_facet\": [\n                \"Independently Published\"\n            ],\n            \"_version_\": 1767921792785055744,\n            \"author_facet\": [\n                \"OL10417851A Chris GUERRERO\"\n            ]\n        },\n        {\n            \"key\": \"/works/OL28851975W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL42818196M\",\n                \"/books/OL39661257M\",\n                \"/books/OL39661255M\",\n                \"/books/OL39678052M\",\n                \"/books/OL42758769M\",\n                \"/works/OL28851975W\",\n                \"/subjects/archaeology\",\n                [...]
