{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&key=MY_SECRET_TOKEN&q=39.74001,-104.99202",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "X-Weatherapi-Qpm-Left": [
            "4999998"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "01/15/2024 16:20:08"
          ],
          "Cdn-Edgestorageid": [
            "1068"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "e686f4319fac6b270aa7dc1be1faae20"
          ],
          "Cdn-Cache": [
            "EXPIRED"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Denver\",\"region\":\"Colorado\",\"country\":\"United States of America\",\"lat\":39.74,\"lon\":-104.99,\"tz_id\":\"America/Denver\",\"localtime_epoch\":1705335608,\"localtime\":\"2024-01-15 9:20\"},\"current\":{\"last_updated_epoch\":1705335300,\"last_updated\":\"2024-01-15 09:15\",\"temp_c\":-21.3,\"temp_f\":-6.3,\"is_day\":1,\"condition\":{\"text\":\"Patchy light snow\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/323.png\",\"code\":1210},\"wind_mph\":15.0,\"wind_kph\":24.1,\"wind_degree\":360,\"wind_dir\":\"N\",\"pressure_mb\":1019.0,\"pressure_in\":30.1,\"precip_mm\":0.44,\"precip_in\":0.02,\"humidity\":69,\"cloud\":100,\"feelslike_c\":-32.0,\"feelslike_f\":-25.5,\"vis_km\":4.8,\"vis_miles\":2.0,\"uv\":1.0,\"gust_mph\":19.5,\"gust_kph\":31.3},\"forecast\":{\"forecastday\":[{\"date\":\"2024-01-15\",\"date_epoch\":1705276800,\"day\":{\"maxtemp_c\":-16.1,\"maxtemp_f\":3.0,\"mintemp_c\":-20.6,\"mintemp_f\":-5.0,\"avgtemp_c\":-17.3,\"avgtemp_f\":0.9,\"maxwind_mph\":12.1,\"maxwind_kph\":19.4,\"totalprecip_mm\":3.91,\"totalprecip_in\":0.15,\"totalsnow_cm\":3.31,\"avgvis_km\":6.5,\"avgvis_miles\":4.0,\"avghumidity\":86,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":68,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":52,\"condition\":{\"text\":\"Heavy snow\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/338.png\",\"code\":1225},\"uv\":1.0},\"astro\":{\"sunrise\":\"07:20 AM\",\"sunset\":\"05:00 PM\",\"moonrise\":\"10:16 AM\",\"moonset\":\"10:17 PM\",\"moon_phase\":\"Waxing Crescent\",\"moon_illumination\":17,\"is_moon_up\":1,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1705302000,\"time\":\"2024-01-15 00:00\",\"temp_c\":-14.3,\"temp_f\":6.2,\"is_day\":0,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/116.png\",\"code\":1003},\"wind_mph\":6.0,\"wind_kph\":9.7,\"wind_degree\":12,\"wind_dir\":\"NNE\",\"pressure_mb\":1021.0,\"pressure_in\":30.16,\"precip_mm\":0.0,\"precip_in\":0.0,\"snow_cm\":0.0,\"humidity\":81,\"cloud\":26,\"feelslike_c\":-18.8,\"feelslike_f\":-1.8,\"windchill_c\":-18.8,\"windchill_f\":-1.8,\"heatindex_c\":-14.3,\"heatindex_f\":6.2,\"dewpoint_c\":-17.1,\"dewpoint_f\":1.2,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":10.1,\"gust_kph\":16.2,\"uv\":1.0},{\"time_epoch\":1705305600,\"time\":\"2024-01-15 01:00\",\"temp_c\":-14.6,\"temp_f\":5.6,\"is_day\":0,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/116.png\",\"code\":1003},\"wind_mph\":4.0,\"wind_kph\":6.5,\"wind_degree\":7,\"wind_dir\":\"N\",\"pressure_mb\":1022.0,\"pressure_in\":30.18,\"precip_mm\":0.0,\"precip_in\":0.0,\"snow_cm\":0.0,\"humidity\":79,\"cloud\":3[...]
    {
      "request": {
        "method": "get",
        "uri": "https://openlibrary.org/search.json?limit=3&sort=new&title=boston,ma",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Ol-Stats": [
            "\"SR 1 0.037 TT 0 0.038\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"numFound\": 125,\n    \"start\": 0,\n    \"numFoundExact\": true,\n    \"docs\": [\n        {\n            \"key\": \"/works/OL27919088W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL38158507M\",\n                \"/works/OL27919088W\",\n                \"/authors/OL10417851A\"\n            ],\n            \"title\": \"Wicked Smaaht Boston MA Funny Boston Gift\",\n            \"title_suggest\": \"Wicked Smaaht Boston MA Funny Boston Gift\",\n            \"title_sort\": \"Wicked Smaaht Boston MA Funny Boston Gift\",\n            \"edition_count\": 1,\n            \"edition_key\": [\n                \"OL38158507M\"\n            ],\n            \"publish_date\": [\n                \"2022\"\n            ],\n            \"publish_year\": [\n                2022\n            ],\n            \"first_publish_year\": 2022,\n            \"isbn\": [\n                \"9798803799993\"\n            ],\n            \"last_modified_i\": 1653631624,\n            \"ebook_count_i\": 0,\n            \"ebook_access\": \"no_ebook\",\n            \"has_fulltext\": false,\n            \"public_scan_b\": false,\n            \"publisher\": [\n                \"Independently Published\"\n            ],\n            \"language\": [\n                \"eng\"\n            ],\n            \"author_key\": [\n                \"OL10417851A\"\n            ],\n            \"author_name\": [\n                \"Chris GUERRERO\"\n            ],\n            \"publisher_facet\": [\n                \"Independently Published\"\n            ],\n            \"_version_\": 1767921792785055744,\n            \"author_facet\": [\n                \"OL10417851A Chris GUERRERO\"\n            ]\n        },\n        {\n            \"key\": \"/works/OL28851975W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL42818196M\",\n                \"/books/OL39661257M\",\n                \"/books/OL39661255M\",\n                \"/books/OL39678052M\",\n                \"/books/OL42758769M\",\n                \"/works/OL28851975W\",\n                \"/subjects/archaeology\",\n                [...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=gcnQqx1GzPDmGaHgKlvNxeUjTRSj5K2s&location=boston,ma",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "1000000000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "999999956"
          ],
          "Ratelimit-Limit": [
            "1000000000"
          ],
          "Ratelimit-Remaining": [
            "999999956"
          ],
          "Ratelimit-Reset": [
            "144214"
          ],
          "Etag": [
            "W/\"31c-86hwIqFSo9VTj/e824qmyFmCqSw\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2024 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2024 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"boston,ma\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Boston\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Suffolk\",\"adminArea4Type\":\"County\",\"adminArea3\":\"MA\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":42.35866,\"lng\":-71.05674},\"displayLatLng\":{\"lat\":42.35866,\"lng\":-71.05674},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Tue, 16 Jan 2024 17:56:27 GMT"
    },
[...]
