{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://openlibrary.org/search.json?limit=3&sort=new&title=boston,ma",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Ol-Stats": [
            "\"SR 1 0.021 TT 0 0.021\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"numFound\": 125,\n    \"start\": 0,\n    \"numFoundExact\": true,\n    \"docs\": [\n        {\n            \"key\": \"/works/OL27919088W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL38158507M\",\n                \"/works/OL27919088W\",\n                \"/authors/OL10417851A\"\n            ],\n            \"title\": \"Wicked Smaaht Boston MA Funny Boston Gift\",\n            \"title_suggest\": \"Wicked Smaaht Boston MA Funny Boston Gift\",\n            \"title_sort\": \"Wicked Smaaht Boston MA Funny Boston Gift\",\n            \"edition_count\": 1,\n            \"edition_key\": [\n                \"OL38158507M\"\n            ],\n            \"publish_date\": [\n                \"2022\"\n            ],\n            \"publish_year\": [\n                2022\n            ],\n            \"first_publish_year\": 2022,\n            \"isbn\": [\n                \"9798803799993\"\n            ],\n            \"last_modified_i\": 1653631624,\n            \"ebook_count_i\": 0,\n            \"ebook_access\": \"no_ebook\",\n            \"has_fulltext\": false,\n            \"public_scan_b\": false,\n            \"publisher\": [\n                \"Independently Published\"\n            ],\n            \"language\": [\n                \"eng\"\n            ],\n            \"author_key\": [\n                \"OL10417851A\"\n            ],\n            \"author_name\": [\n                \"Chris GUERRERO\"\n            ],\n            \"publisher_facet\": [\n                \"Independently Published\"\n            ],\n            \"_version_\": 1767921792785055744,\n            \"author_facet\": [\n                \"OL10417851A Chris GUERRERO\"\n            ]\n        },\n        {\n            \"key\": \"/works/OL28851975W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL42818196M\",\n                \"/books/OL39661257M\",\n                \"/books/OL39661255M\",\n                \"/books/OL39678052M\",\n                \"/books/OL42758769M\",\n                \"/works/OL28851975W\",\n                \"/subjects/archaeology\",\n                [...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=gcnQqx1GzPDmGaHgKlvNxeUjTRSj5K2s&location=boston,ma",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "1000000000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "999999955"
          ],
          "Ratelimit-Limit": [
            "1000000000"
          ],
          "Ratelimit-Remaining": [
            "999999955"
          ],
          "Ratelimit-Reset": [
            "144213"
          ],
          "Etag": [
            "W/\"31c-86hwIqFSo9VTj/e824qmyFmCqSw\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2024 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2024 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"boston,ma\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Boston\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Suffolk\",\"adminArea4Type\":\"County\",\"adminArea3\":\"MA\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":42.35866,\"lng\":-71.05674},\"displayLatLng\":{\"lat\":42.35866,\"lng\":-71.05674},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Tue, 16 Jan 2024 17:56:28 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&key=MY_SECRET_TOKEN&q=42.35866,-71.05674",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "X-Weatherapi-Qpm-Left": [
            "4999983"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "01/16/2024 17:56:28"
          ],
          "Cdn-Edgestorageid": [
            "845"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "78af06730f3ffe0940d9830b7defc4c1"
          ],
          "Cdn-Cache": [
            "MISS"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Boston\",\"region\":\"Massachusetts\",\"country\":\"United States of America\",\"lat\":42.36,\"lon\":-71.06,\"tz_id\":\"America/New_York\",\"localtime_epoch\":1705427748,\"localtime\":\"2024-01-16 12:55\"},\"current\":{\"last_updated_epoch\":1705427100,\"last_updated\":\"2024-01-16 12:45\",\"temp_c\":0.6,\"temp_f\":33.1,\"is_day\":1,\"condition\":{\"text\":\"Heavy snow\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/338.png\",\"code\":1225},\"wind_mph\":12.5,\"wind_kph\":20.2,\"wind_degree\":60,\"wind_dir\":\"ENE\",\"pressure_mb\":1009.0,\"pressure_in\":29.8,\"precip_mm\":2.03,\"precip_in\":0.08,\"humidity\":100,\"cloud\":100,\"feelslike_c\":-3.4,\"feelslike_f\":26.0,\"vis_km\":9.7,\"vis_miles\":6.0,\"uv\":1.0,\"gust_mph\":17.0,\"gust_kph\":27.4},\"forecast\":{\"forecastday\":[{\"date\":\"2024-01-16\",\"date_epoch\":1705363200,\"day\":{\"maxtemp_c\":0.3,\"maxtemp_f\":32.5,\"mintemp_c\":-3.3,\"mintemp_f\":26.0,\"avgtemp_c\":-1.8,\"avgtemp_f\":28.8,\"maxwind_mph\":12.3,\"maxwind_kph\":19.8,\"totalprecip_mm\":16.31,\"totalprecip_in\":0.64,\"totalsnow_cm\":8.43,\"avgvis_km\":4.9,\"avgvis_miles\":3.0,\"avghumidity\":84,\"daily_will_it_rain\":1,\"daily_chance_of_rain\":88,\"daily_will_it_snow\":1,\"daily_chance_of_snow\":76,\"condition\":{\"text\":\"Heavy snow\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/338.png\",\"code\":1225},\"uv\":1.0},\"astro\":{\"sunrise\":\"07:11 AM\",\"sunset\":\"04:37 PM\",\"moonrise\":\"10:22 AM\",\"moonset\":\"11:09 PM\",\"moon_phase\":\"Waxing Crescent\",\"moon_illumination\":26,\"is_moon_up\":1,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1705381200,\"time\":\"2024-01-16 00:00\",\"temp_c\":-1.2,\"temp_f\":29.9,\"is_day\":0,\"condition\":{\"text\":\"Light snow\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/326.png\",\"code\":1213},\"wind_mph\":4.5,\"wind_kph\":7.2,\"wind_degree\":245,\"wind_dir\":\"WSW\",\"pressure_mb\":1022.0,\"pressure_in\":30.19,\"precip_mm\":0.02,\"precip_in\":0.0,\"snow_cm\":0.0,\"humidity\":36,\"cloud\":100,\"feelslike_c\":-3.6,\"feelslike_f\":25.5,\"windchill_c\":-3.6,\"windchill_f\":25.5,\"heatindex_c\":-1.2,\"heatindex_f\":29.9,\"dewpoint_c\":-14.1,\"dewpoint_f\":6.7,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":1,\"chance_of_snow\":88,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":6.0,\"gust_kph\":9.7,\"uv\":1.0,\"short_rad\":0.0,\"diff_rad\":0.0},{\"time_epoch\":1705384800,\"time\":\"2024-01-16 01:00\",\"temp_c\":-1.3,\"temp_f\":29.7,\"is_day\":0,\"condition\":{\"text\":\"Light snow\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/326.png\",\"code\":1213},\"wind_mph\":3.4,\"wind_kph\":5.4,\"wind_degree\":230,\"wind_dir\":\"SW\",\"pressure_mb\":1021.0,\"pressure_in\":30.16,\"precip_mm\":0.07,\"precip_in\":0.0,\"snow_cm\":0.0,\"humidity\":36,\"cloud\":100,\"feelslike_c\":-3.7,\"feelslike_f\":25.4,\"windchill_c\":-3.7,\"windchill_[...]
