{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://openlibrary.org/search.json?limit=5&sort=new&title=richmond,va",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "X-Ol-Stats": [
            "\"SR 1 0.037 TT 0 0.038\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\n    \"numFound\": 153,\n    \"start\": 0,\n    \"numFoundExact\": true,\n    \"docs\": [\n        {\n            \"key\": \"/works/OL34206009W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL46366041M\",\n                \"/books/OL46507093M\",\n                \"/works/OL34206009W\",\n                \"/authors/OL12382853A\"\n            ],\n            \"title\": \"Register of the Confederate Dead, Interred in Hollywood Cemetery, Richmond, Va\",\n            \"title_suggest\": \"Register of the Confederate Dead, Interred in Hollywood Cemetery, Richmond, Va\",\n            \"title_sort\": \"Register of the Confederate Dead, Interred in Hollywood Cemetery, Richmond, Va\",\n            \"edition_count\": 2,\n            \"edition_key\": [\n                \"OL46366041M\",\n                \"OL46507093M\"\n            ],\n            \"publish_date\": [\n                \"2022\"\n            ],\n            \"publish_year\": [\n                2022\n            ],\n            \"first_publish_year\": 2022,\n            \"isbn\": [\n                \"9781018585598\",\n                \"1018580808\",\n                \"1018585591\",\n                \"9781018580807\"\n            ],\n            \"last_modified_i\": 1674028723,\n            \"ebook_count_i\": 0,\n            \"ebook_access\": \"no_ebook\",\n            \"has_fulltext\": false,\n            \"public_scan_b\": false,\n            \"publisher\": [\n                \"Creative Media Partners, LLC\"\n            ],\n            \"language\": [\n                \"eng\"\n            ],\n            \"author_key\": [\n                \"OL12382853A\"\n            ],\n            \"author_name\": [\n                \"Hollywood Memorial Association of Ric\"\n            ],\n            \"publisher_facet\": [\n                \"Creative Media Partners, LLC\"\n            ],\n            \"_version_\": 1767931703272144896,\n            \"author_facet\": [\n                \"OL12382853A Hollywood Memorial Association of Ric\"\n            ]\n        },\n        {\n            \"key\": \"/works/OL34224023W\",\n            \"type\": \"work\",\n            \"seed\": [\n                \"/books/OL46393294M\",\n                \"/works/OL34224023W\",\n                \"/authors/OL12389869A\"\n            ],\n            \"title\": \"Proceedings of the Convention Called to Consider and Discuss the Oyster Question, Held at the Richmond Chamber of Comm[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=gcnQqx1GzPDmGaHgKlvNxeUjTRSj5K2s&location=richmond,va",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "1000000000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "999999959"
          ],
          "Ratelimit-Limit": [
            "1000000000"
          ],
          "Ratelimit-Remaining": [
            "999999959"
          ],
          "Ratelimit-Reset": [
            "146570"
          ],
          "Etag": [
            "W/\"328-uACZO1t1RHkqY6fzYVmq24iIe+I\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2024 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2024 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"richmond,va\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Richmond\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Richmond (City)\",\"adminArea4Type\":\"County\",\"adminArea3\":\"VA\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":37.54068,\"lng\":-77.43367},\"displayLatLng\":{\"lat\":37.54068,\"lng\":-77.43367},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Tue, 16 Jan 2024 17:17:11 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&key=MY_SECRET_TOKEN&q=37.54068,-77.43367",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "X-Weatherapi-Qpm-Left": [
            "4999983"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "01/16/2024 17:17:11"
          ],
          "Cdn-Edgestorageid": [
            "1068"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "13e58bc31e99abbc7d1171f7215e395a"
          ],
          "Cdn-Cache": [
            "MISS"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"location\":{\"name\":\"Richmond\",\"region\":\"Virginia\",\"country\":\"United States of America\",\"lat\":37.54,\"lon\":-77.43,\"tz_id\":\"America/New_York\",\"localtime_epoch\":1705425405,\"localtime\":\"2024-01-16 12:16\"},\"current\":{\"last_updated_epoch\":1705425300,\"last_updated\":\"2024-01-16 12:15\",\"temp_c\":0.0,\"temp_f\":32.0,\"is_day\":1,\"condition\":{\"text\":\"Light freezing rain\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/311.png\",\"code\":1198},\"wind_mph\":6.9,\"wind_kph\":11.2,\"wind_degree\":320,\"wind_dir\":\"NW\",\"pressure_mb\":1010.0,\"pressure_in\":29.82,\"precip_mm\":0.71,\"precip_in\":0.03,\"humidity\":92,\"cloud\":100,\"feelslike_c\":-2.8,\"feelslike_f\":26.9,\"vis_km\":8.0,\"vis_miles\":4.0,\"uv\":1.0,\"gust_mph\":6.9,\"gust_kph\":11.2},\"forecast\":{\"forecastday\":[{\"date\":\"2024-01-16\",\"date_epoch\":1705363200,\"day\":{\"maxtemp_c\":1.9,\"maxtemp_f\":35.4,\"mintemp_c\":-6.1,\"mintemp_f\":21.1,\"avgtemp_c\":-0.1,\"avgtemp_f\":31.8,\"maxwind_mph\":9.4,\"maxwind_kph\":15.1,\"totalprecip_mm\":3.01,\"totalprecip_in\":0.12,\"totalsnow_cm\":0.72,\"avgvis_km\":3.9,\"avgvis_miles\":2.0,\"avghumidity\":92,\"daily_will_it_rain\":1,\"daily_chance_of_rain\":86,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":19,\"condition\":{\"text\":\"Fog\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/248.png\",\"code\":1135},\"uv\":1.0},\"astro\":{\"sunrise\":\"07:23 AM\",\"sunset\":\"05:16 PM\",\"moonrise\":\"10:49 AM\",\"moonset\":\"11:33 PM\",\"moon_phase\":\"Waxing Crescent\",\"moon_illumination\":26,\"is_moon_up\":1,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1705381200,\"time\":\"2024-01-16 00:00\",\"temp_c\":0.3,\"temp_f\":32.5,\"is_day\":0,\"condition\":{\"text\":\"Mist\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/143.png\",\"code\":1030},\"wind_mph\":4.9,\"wind_kph\":7.9,\"wind_degree\":73,\"wind_dir\":\"ENE\",\"pressure_mb\":1019.0,\"pressure_in\":30.09,\"precip_mm\":0.0,\"precip_in\":0.0,\"snow_cm\":0.0,\"humidity\":96,\"cloud\":100,\"feelslike_c\":-2.2,\"feelslike_f\":28.1,\"windchill_c\":-2.2,\"windchill_f\":28.1,\"heatindex_c\":0.3,\"heatindex_f\":32.5,\"dewpoint_c\":-0.4,\"dewpoint_f\":31.4,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":2.0,\"vis_miles\":1.0,\"gust_mph\":6.9,\"gust_kph\":11.1,\"uv\":1.0,\"short_rad\":0.0,\"diff_rad\":0.0},{\"time_epoch\":1705384800,\"time\":\"2024-01-16 01:00\",\"temp_c\":0.5,\"temp_f\":32.9,\"is_day\":0,\"condition\":{\"text\":\"Fog\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/248.png\",\"code\":1135},\"wind_mph\":4.5,\"wind_kph\":7.2,\"wind_degree\":52,\"wind_dir\":\"NE\",\"pressure_mb\":1017.0,\"pressure_in\":30.04,\"precip_mm\":0.0,\"precip_in\":0.0,\"snow_cm\":0.0,\"humidity\":97,\"cloud\":100,\"feelslike_c\":-1.9,\"feelslike_f\":28.6,\"windchill_c\":-1.9,\"windchill_f\":28.6,\[...]
