{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&key=MY_SECRET_TOKEN&q=39.74001,-104.99202",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "X-Weatherapi-Qpm-Left": [
            "4999998"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "01/15/2024 16:15:02"
          ],
          "Cdn-Edgestorageid": [
            "1068"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "9d72b51c78b37183f0ba8c3d1e0205c3"
          ],
          "Cdn-Cache": [
            "MISS"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Denver\",\"region\":\"Colorado\",\"country\":\"United States of America\",\"lat\":39.74,\"lon\":-104.99,\"tz_id\":\"America/Denver\",\"localtime_epoch\":1705335302,\"localtime\":\"2024-01-15 9:15\"},\"current\":{\"last_updated_epoch\":1705334400,\"last_updated\":\"2024-01-15 09:00\",\"temp_c\":-19.0,\"temp_f\":-2.2,\"is_day\":1,\"condition\":{\"text\":\"Light snow\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/326.png\",\"code\":1213},\"wind_mph\":15.0,\"wind_kph\":24.1,\"wind_degree\":10,\"wind_dir\":\"N\",\"pressure_mb\":1018.0,\"pressure_in\":30.06,\"precip_mm\":0.44,\"precip_in\":0.02,\"humidity\":70,\"cloud\":100,\"feelslike_c\":-29.1,\"feelslike_f\":-20.3,\"vis_km\":1.2,\"vis_miles\":0.0,\"uv\":1.0,\"gust_mph\":19.5,\"gust_kph\":31.3},\"forecast\":{\"forecastday\":[{\"date\":\"2024-01-15\",\"date_epoch\":1705276800,\"day\":{\"maxtemp_c\":-16.1,\"maxtemp_f\":3.0,\"mintemp_c\":-20.6,\"mintemp_f\":-5.0,\"avgtemp_c\":-17.3,\"avgtemp_f\":0.9,\"maxwind_mph\":12.1,\"maxwind_kph\":19.4,\"totalprecip_mm\":3.91,\"totalprecip_in\":0.15,\"totalsnow_cm\":3.31,\"avgvis_km\":6.5,\"avgvis_miles\":4.0,\"avghumidity\":86,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":68,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":52,\"condition\":{\"text\":\"Heavy snow\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/338.png\",\"code\":1225},\"uv\":1.0},\"astro\":{\"sunrise\":\"07:20 AM\",\"sunset\":\"05:00 PM\",\"moonrise\":\"10:16 AM\",\"moonset\":\"10:17 PM\",\"moon_phase\":\"Waxing Crescent\",\"moon_illumination\":17,\"is_moon_up\":1,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1705302000,\"time\":\"2024-01-15 00:00\",\"temp_c\":-14.3,\"temp_f\":6.2,\"is_day\":0,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/116.png\",\"code\":1003},\"wind_mph\":6.0,\"wind_kph\":9.7,\"wind_degree\":12,\"wind_dir\":\"NNE\",\"pressure_mb\":1021.0,\"pressure_in\":30.16,\"precip_mm\":0.0,\"precip_in\":0.0,\"snow_cm\":0.0,\"humidity\":81,\"cloud\":26,\"feelslike_c\":-18.8,\"feelslike_f\":-1.8,\"windchill_c\":-18.8,\"windchill_f\":-1.8,\"heatindex_c\":-14.3,\"heatindex_f\":6.2,\"dewpoint_c\":-17.1,\"dewpoint_f\":1.2,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":10.1,\"gust_kph\":16.2,\"uv\":1.0},{\"time_epoch\":1705305600,\"time\":\"2024-01-15 01:00\",\"temp_c\":-14.6,\"temp_f\":5.6,\"is_day\":0,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/116.png\",\"code\":1003},\"wind_mph\":4.0,\"wind_kph\":6.5,\"wind_degree\":7,\"wind_dir\":\"N\",\"pressure_mb\":1022.0,\"pressure_in\":30.18,\"precip_mm\":0.0,\"precip_in\":0.0,\"snow_cm\":0.0,\"humidity\":79,\"cloud\":3[...]
