{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=gcnQqx1GzPDmGaHgKlvNxeUjTRSj5K2s&location=Paris,France",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "1000000000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "999999994"
          ],
          "Ratelimit-Limit": [
            "1000000000"
          ],
          "Ratelimit-Remaining": [
            "999999994"
          ],
          "Ratelimit-Reset": [
            "236210"
          ],
          "Etag": [
            "W/\"317-KLZ2Q1eLATT/EtuMFbFaTIlEZYA\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2024 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2024 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"Paris,France\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Paris\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Paris\",\"adminArea4Type\":\"County\",\"adminArea3\":\"IDF\",\"adminArea3Type\":\"State\",\"adminArea1\":\"FR\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":48.85717,\"lng\":2.3414},\"displayLatLng\":{\"lat\":48.85717,\"lng\":2.3414},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Mon, 15 Jan 2024 16:23:10 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&key=MY_SECRET_TOKEN&q=48.85717,2.3414",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "X-Weatherapi-Qpm-Left": [
            "4999998"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "01/15/2024 16:23:11"
          ],
          "Cdn-Edgestorageid": [
            "845"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "e6c117a77867f54f80483ce38feb2a3b"
          ],
          "Cdn-Cache": [
            "MISS"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"Paris\",\"region\":\"Ile-de-France\",\"country\":\"France\",\"lat\":48.86,\"lon\":2.34,\"tz_id\":\"Europe/Paris\",\"localtime_epoch\":1705335752,\"localtime\":\"2024-01-15 17:22\"},\"current\":{\"last_updated_epoch\":1705335300,\"last_updated\":\"2024-01-15 17:15\",\"temp_c\":3.0,\"temp_f\":37.4,\"is_day\":0,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/116.png\",\"code\":1003},\"wind_mph\":5.6,\"wind_kph\":9.0,\"wind_degree\":330,\"wind_dir\":\"NNW\",\"pressure_mb\":1011.0,\"pressure_in\":29.85,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":56,\"cloud\":75,\"feelslike_c\":0.3,\"feelslike_f\":32.5,\"vis_km\":10.0,\"vis_miles\":6.0,\"uv\":2.0,\"gust_mph\":10.0,\"gust_kph\":16.0},\"forecast\":{\"forecastday\":[{\"date\":\"2024-01-15\",\"date_epoch\":1705276800,\"day\":{\"maxtemp_c\":4.4,\"maxtemp_f\":39.8,\"mintemp_c\":-0.2,\"mintemp_f\":31.6,\"avgtemp_c\":1.8,\"avgtemp_f\":35.2,\"maxwind_mph\":9.4,\"maxwind_kph\":15.1,\"totalprecip_mm\":0.39,\"totalprecip_in\":0.02,\"totalsnow_cm\":0.26,\"avgvis_km\":9.6,\"avgvis_miles\":5.0,\"avghumidity\":74,\"daily_will_it_rain\":1,\"daily_chance_of_rain\":89,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Patchy rain possible\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/176.png\",\"code\":1063},\"uv\":1.0},\"astro\":{\"sunrise\":\"08:39 AM\",\"sunset\":\"05:21 PM\",\"moonrise\":\"11:08 AM\",\"moonset\":\"10:41 PM\",\"moon_phase\":\"Waxing Crescent\",\"moon_illumination\":17,\"is_moon_up\":0,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1705273200,\"time\":\"2024-01-15 00:00\",\"temp_c\":0.8,\"temp_f\":33.4,\"is_day\":0,\"condition\":{\"text\":\"Overcast\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/122.png\",\"code\":1009},\"wind_mph\":5.8,\"wind_kph\":9.4,\"wind_degree\":240,\"wind_dir\":\"WSW\",\"pressure_mb\":1011.0,\"pressure_in\":29.86,\"precip_mm\":0.0,\"precip_in\":0.0,\"snow_cm\":0.0,\"humidity\":79,\"cloud\":90,\"feelslike_c\":-2.2,\"feelslike_f\":28.1,\"windchill_c\":-2.2,\"windchill_f\":28.1,\"heatindex_c\":0.8,\"heatindex_f\":33.4,\"dewpoint_c\":-2.4,\"dewpoint_f\":27.7,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":10.2,\"gust_kph\":16.4,\"uv\":1.0},{\"time_epoch\":1705276800,\"time\":\"2024-01-15 01:00\",\"temp_c\":1.1,\"temp_f\":34.0,\"is_day\":0,\"condition\":{\"text\":\"Overcast\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/122.png\",\"code\":1009},\"wind_mph\":5.8,\"wind_kph\":9.4,\"wind_degree\":242,\"wind_dir\":\"WSW\",\"pressure_mb\":1011.0,\"pressure_in\":29.84,\"precip_mm\":0.0,\"precip_in\":0.0,\"snow_cm\":0.0,\"humidity\":81,\"cloud\":91,[...]
