{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/directions/v2/route?from=Cincinatti,%20OH&key=gcnQqx1GzPDmGaHgKlvNxeUjTRSj5K2s&to=London,%20England",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "1000000000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "999999935"
          ],
          "Ratelimit-Limit": [
            "1000000000"
          ],
          "Ratelimit-Remaining": [
            "999999935"
          ],
          "Ratelimit-Reset": [
            "56768"
          ],
          "X-Transaction-Count": [
            "all=3,geocoding=2,directions=1"
          ],
          "Etag": [
            "W/\"116-R2DA5tIYj04dtma2cJ5ADQu1kN8\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"routeError\":{\"errorCode\":2,\"message\":\"\"}},\"info\":{\"statuscode\":402,\"copyright\":{\"text\":\"© 2024 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2024 MapQuest, Inc.\"},\"messages\":[\"We are unable to route with the given locations.\"]}}"
        }
      },
      "recorded_at": "Wed, 17 Jan 2024 18:13:52 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=gcnQqx1GzPDmGaHgKlvNxeUjTRSj5K2s&location=London,%20England",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "1000000000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "999999935"
          ],
          "Ratelimit-Limit": [
            "1000000000"
          ],
          "Ratelimit-Remaining": [
            "999999935"
          ],
          "Ratelimit-Reset": [
            "56768"
          ],
          "Etag": [
            "W/\"320-50HuOKKze4udUk7XGGUS4SWfdhw\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2024 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2024 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"London, England\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"London\",\"adminArea5Type\":\"City\",\"adminArea4\":\"London\",\"adminArea4Type\":\"County\",\"adminArea3\":\"ENG\",\"adminArea3Type\":\"State\",\"adminArea1\":\"GB\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":51.50643,\"lng\":-0.12719},\"displayLatLng\":{\"lat\":51.50643,\"lng\":-0.12719},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Wed, 17 Jan 2024 18:13:52 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&key=MY_SECRET_TOKEN&q=51.50643,-0.12719",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "X-Weatherapi-Qpm-Left": [
            "4999970"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "01/17/2024 18:13:52"
          ],
          "Cdn-Edgestorageid": [
            "1068"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "e3867654e2af1a75014f18aa32367029"
          ],
          "Cdn-Cache": [
            "MISS"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"location\":{\"name\":\"London\",\"region\":\"City of London, Greater London\",\"country\":\"United Kingdom\",\"lat\":51.51,\"lon\":-0.13,\"tz_id\":\"Europe/London\",\"localtime_epoch\":1705515192,\"localtime\":\"2024-01-17 18:13\"},\"current\":{\"last_updated_epoch\":1705514400,\"last_updated\":\"2024-01-17 18:00\",\"temp_c\":1.0,\"temp_f\":33.8,\"is_day\":0,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/116.png\",\"code\":1003},\"wind_mph\":10.5,\"wind_kph\":16.9,\"wind_degree\":10,\"wind_dir\":\"N\",\"pressure_mb\":992.0,\"pressure_in\":29.29,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":80,\"cloud\":75,\"feelslike_c\":-3.3,\"feelslike_f\":26.0,\"vis_km\":10.0,\"vis_miles\":6.0,\"uv\":1.0,\"gust_mph\":14.4,\"gust_kph\":23.1},\"forecast\":{\"forecastday\":[{\"date\":\"2024-01-17\",\"date_epoch\":1705449600,\"day\":{\"maxtemp_c\":3.1,\"maxtemp_f\":37.5,\"mintemp_c\":-0.4,\"mintemp_f\":31.2,\"avgtemp_c\":1.2,\"avgtemp_f\":34.1,\"maxwind_mph\":10.1,\"maxwind_kph\":16.2,\"totalprecip_mm\":0.02,\"totalprecip_in\":0.0,\"totalsnow_cm\":0.0,\"avgvis_km\":10.0,\"avgvis_miles\":6.0,\"avghumidity\":73,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":0,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":0,\"condition\":{\"text\":\"Overcast\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/122.png\",\"code\":1009},\"uv\":1.0},\"astro\":{\"sunrise\":\"07:58 AM\",\"sunset\":\"04:23 PM\",\"moonrise\":\"10:47 AM\",\"moonset\":\"No moonset\",\"moon_phase\":\"Waxing Crescent\",\"moon_illumination\":37,\"is_moon_up\":0,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1705449600,\"time\":\"2024-01-17 00:00\",\"temp_c\":0.6,\"temp_f\":33.1,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":3.6,\"wind_kph\":5.8,\"wind_degree\":216,\"wind_dir\":\"SW\",\"pressure_mb\":1000.0,\"pressure_in\":29.52,\"precip_mm\":0.0,\"precip_in\":0.0,\"snow_cm\":0.0,\"humidity\":72,\"cloud\":8,\"feelslike_c\":-1.2,\"feelslike_f\":29.8,\"windchill_c\":-1.2,\"windchill_f\":29.8,\"heatindex_c\":0.6,\"heatindex_f\":33.1,\"dewpoint_c\":-3.8,\"dewpoint_f\":25.2,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":6.5,\"gust_kph\":10.4,\"uv\":1.0,\"short_rad\":0.0,\"diff_rad\":0.0},{\"time_epoch\":1705453200,\"time\":\"2024-01-17 01:00\",\"temp_c\":0.6,\"temp_f\":33.0,\"is_day\":0,\"condition\":{\"text\":\"Partly cloudy\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/116.png\",\"code\":1003},\"wind_mph\":3.4,\"wind_kph\":5.4,\"wind_degree\":208,\"wind_dir\":\"SSW\",\"pressure_mb\":998.0,\"pressure_in\":29.48,\"precip_mm\":0.0,\"precip_in\":0.0,\"snow_cm\":0.0,\"humidity\":73,\"cloud\":31,\"feelslike_c\":-1.1,\"feelslike_f\":30.0,\"windchill_c\":-1.1,\"windchill_[...]
