{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/directions/v2/route?from=Denver,%20CO&key=gcnQqx1GzPDmGaHgKlvNxeUjTRSj5K2s&to=New%20York,%20NY",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "1000000000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "999999933"
          ],
          "Ratelimit-Limit": [
            "1000000000"
          ],
          "Ratelimit-Remaining": [
            "999999933"
          ],
          "Ratelimit-Reset": [
            "56541"
          ],
          "X-Transaction-Count": [
            "all=2,geocoding=2"
          ],
          "Etag": [
            "W/\"116-R2DA5tIYj04dtma2cJ5ADQu1kN8\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"routeError\":{\"errorCode\":2,\"message\":\"\"}},\"info\":{\"statuscode\":402,\"copyright\":{\"text\":\"© 2024 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2024 MapQuest, Inc.\"},\"messages\":[\"We are unable to route with the given locations.\"]}}"
        }
      },
      "recorded_at": "Wed, 17 Jan 2024 18:17:39 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/directions/v2/route?from=Denver,%20CO&key=gcnQqx1GzPDmGaHgKlvNxeUjTRSj5K2s&to=Boston,%20MA",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "1000000000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "999999930"
          ],
          "Ratelimit-Limit": [
            "1000000000"
          ],
          "Ratelimit-Remaining": [
            "999999930"
          ],
          "Ratelimit-Reset": [
            "56496"
          ],
          "X-Transaction-Count": [
            "all=3,geocoding=2,directions=1"
          ],
          "Etag": [
            "W/\"866c-bwi9/OFckZZPquQIPgHR+uf617E\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"sessionId\":\"AMgA_v___wEAAQCRAQAAeNpjmMjIwMjEwMDAnpFalGqVnCvKaSwN5DIomGzfwWF1Msx0U5FTDIxmwAJgGre-nykO4v8651bL9Ky5wneRhnzcPiA9G0gz4ADhrDf40zmADAlWFo4gVgYGZw6YlAAQM6KrZ8JhDhMDC4MAE0g9E0SRA0ScBU1dA8SABiRxBYTJAiBdilBxB4gTsLmCgcERiCcA9R5AtgTdMg5GbE5l4YB6ToHBAaaAA2gbiyLIAIXHiiwAeuUjJiZagXo:car\",\"realTime\":101300,\"distance\":1974.3448,\"time\":99186,\"formattedTime\":\"27:33:06\",\"hasHighway\":true,\"hasTollRoad\":true,\"hasBridge\":true,\"hasSeasonalClosure\":false,\"hasTunnel\":true,\"hasFerry\":false,\"hasUnpaved\":false,\"hasTimedRestriction\":false,\"hasCountryCross\":false,\"legs\":[{\"index\":0,\"hasTollRoad\":true,\"hasHighway\":true,\"hasBridge\":true,\"hasUnpaved\":false,\"hasTunnel\":true,\"hasSeasonalClosure\":false,\"hasFerry\":false,\"hasCountryCross\":false,\"hasTimedRestriction\":false,\"distance\":1974.3448,\"time\":101300,\"formattedTime\":\"28:08:20\",\"origIndex\":0,\"origNarrative\":\"\",\"destIndex\":0,\"destNarrative\":\"\",\"maneuvers\":[{\"index\":0,\"distance\":0.0193,\"narrative\":\"Head toward Cherokee St on W Colfax Ave (I-70-BL E). Go for 102 ft.\",\"time\":13,\"direction\":8,\"directionName\":\"East\",\"signs\":[],\"maneuverNotes\":[],\"formattedTime\":\"00:00:13\",\"transportMode\":\"car\",\"startPoint\":{\"lat\":39.74001,\"lng\":-104.99202},\"turnType\":0,\"attributes\":0,\"iconUrl\":\"\",\"streets\":[\"I-70-BL\",\"US-40\",\"US-287\",\"W Colfax Ave\"],\"mapUrl\":\"https://www.mapquestapi.com/staticmap/v5/map?key=gcnQqx1GzPDmGaHgKlvNxeUjTRSj5K2s&size=225,160&locations=39.74001,-104.99202|marker-1||39.74001,-104.99166|marker-2||&center=39.74001,-104.99184&defaultMarker=none&zoom=16&session=AMgA_v___wEAAQCRAQAAeNpjmMjIwMjEwMDAnpFalGqVnCvKaSwN5DIomGzfwWF1Msx0U5FTDIxmwAJgGre-nykO4v8651bL9Ky5wneRhnzcPiA9G0gz4ADhrDf40zmADAlWFo4gVgYGZw6YlAAQM6KrZ8JhDhMDC4MAE0g9E0SRA0ScBU1dA8SABiRxBYTJAiBdilBxB4gTsLmCgcERiCcA9R5AtgTdMg5GbE5l4YB6ToHBAaaAA2gbiyLIAIXHiiwAeuUjJiZagX[...]
