{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/directions/v2/route?from=Cincinatti,OH&key=gcnQqx1GzPDmGaHgKlvNxeUjTRSj5K2s&to=Chicago,IL",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "1000000000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "999999938"
          ],
          "Ratelimit-Limit": [
            "1000000000"
          ],
          "Ratelimit-Remaining": [
            "999999938"
          ],
          "Ratelimit-Reset": [
            "56770"
          ],
          "X-Transaction-Count": [
            "all=3,geocoding=2,directions=1"
          ],
          "Etag": [
            "W/\"5a19-da5H3fh1G21I0alHpGHWn0MpVII\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"route\":{\"sessionId\":\"AJkA_v___wEAAQDAAAAAeNpjOMDAwMjEwMDAnpFalGqVnBth_04cyGXQW7i3hUu67oVzlM356A-1L5zzgTQDFgDTmCy1SxrE39qeuYzh8v91jm2nT8TOANKtQJoBB7DQ3fnvDiOQMZORyWWFQKtHwMImFiAXJMTgwMDBwMoAJMCgAaZHEIg7mEKYGBmUGDSZ17IAAIwDKUAZSUsL:car\",\"realTime\":16808,\"distance\":296.6954,\"time\":15839,\"formattedTime\":\"04:23:59\",\"hasHighway\":true,\"hasTollRoad\":true,\"hasBridge\":true,\"hasSeasonalClosure\":false,\"hasTunnel\":false,\"hasFerry\":false,\"hasUnpaved\":false,\"hasTimedRestriction\":false,\"hasCountryCross\":false,\"legs\":[{\"index\":0,\"hasTollRoad\":true,\"hasHighway\":true,\"hasBridge\":true,\"hasUnpaved\":false,\"hasTunnel\":false,\"hasSeasonalClosure\":false,\"hasFerry\":false,\"hasCountryCross\":false,\"hasTimedRestriction\":false,\"distance\":296.6954,\"time\":16808,\"formattedTime\":\"04:40:08\",\"origIndex\":0,\"origNarrative\":\"\",\"destIndex\":0,\"destNarrative\":\"\",\"maneuvers\":[{\"index\":0,\"distance\":0.2293,\"narrative\":\"Head toward Broadway St on Gilbert Ave (US-22). Go for 0.2 mi.\",\"time\":33,\"direction\":6,\"directionName\":\"Southwest\",\"signs\":[],\"maneuverNotes\":[],\"formattedTime\":\"00:00:33\",\"transportMode\":\"car\",\"startPoint\":{\"lat\":39.107132,\"lng\":-84.504134},\"turnType\":0,\"attributes\":0,\"iconUrl\":\"\",\"streets\":[\"US-22\",\"OH-3\",\"Gilbert Ave\"],\"mapUrl\":\"https://www.mapquestapi.com/staticmap/v5/map?key=gcnQqx1GzPDmGaHgKlvNxeUjTRSj5K2s&size=225,160&locations=39.107132,-84.504134|marker-1||39.10536000000002,-84.50725|marker-2||&center=39.10624600000001,-84.505692&defaultMarker=none&zoom=15&session=AJkA_v___wEAAQDAAAAAeNpjOMDAwMjEwMDAnpFalGqVnBth_04cyGXQW7i3hUu67oVzlM356A-1L5zzgTQDFgDTmCy1SxrE39qeuYzh8v91jm2nT8TOANKtQJoBB7DQ3fnvDiOQMZORyWWFQKtHwMImFiAXJMTgwMDBwMoAJMCgAaZHEIg7mEKYGBmUGDSZ17IAAIwDKUAZSUsL:car\"},{\"index\":1,\"distance\":0.1821,\"n[...]
    {
      "request": {
        "method": "get",
        "uri": "https://www.mapquestapi.com/geocoding/v1/address?key=gcnQqx1GzPDmGaHgKlvNxeUjTRSj5K2s&location=Chicago,IL",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Ratelimit-Limit-2628000": [
            "1000000000"
          ],
          "X-Ratelimit-Remaining-2628000": [
            "999999940"
          ],
          "Ratelimit-Limit": [
            "1000000000"
          ],
          "Ratelimit-Remaining": [
            "999999940"
          ],
          "Ratelimit-Reset": [
            "56770"
          ],
          "Etag": [
            "W/\"31b-Q8i32RGljSgyeOGbgB0A7EYDjMQ\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"© 2024 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"© 2024 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":-1,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"Chicago,IL\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Chicago\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Cook\",\"adminArea4Type\":\"County\",\"adminArea3\":\"IL\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"A5XAX\",\"geocodeQuality\":\"CITY\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":41.88425,\"lng\":-87.63245},\"displayLatLng\":{\"lat\":41.88425,\"lng\":-87.63245},\"mapUrl\":\"\"}]}]}"
        }
      },
      "recorded_at": "Wed, 17 Jan 2024 18:13:51 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "http://api.weatherapi.com/v1/forecast.json?days=5&key=MY_SECRET_TOKEN&q=41.88425,-87.63245",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Cdn-Pullzone": [
            "93447"
          ],
          "Cdn-Uid": [
            "8fa3a04a-75d9-4707-8056-b7b33c8ac7fe"
          ],
          "Cdn-Requestcountrycode": [
            "US"
          ],
          "X-Weatherapi-Qpm-Left": [
            "4999970"
          ],
          "Cdn-Proxyver": [
            "1.04"
          ],
          "Cdn-Requestpullsuccess": [
            "True"
          ],
          "Cdn-Requestpullcode": [
            "200"
          ],
          "Cdn-Cachedat": [
            "01/17/2024 18:13:51"
          ],
          "Cdn-Edgestorageid": [
            "941"
          ],
          "Cdn-Status": [
            "200"
          ],
          "Cdn-Requestid": [
            "fe80853562b69e26c35b7eb7530d1461"
          ],
          "Cdn-Cache": [
            "MISS"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"location\":{\"name\":\"Chicago\",\"region\":\"Illinois\",\"country\":\"United States of America\",\"lat\":41.88,\"lon\":-87.63,\"tz_id\":\"America/Chicago\",\"localtime_epoch\":1705515190,\"localtime\":\"2024-01-17 12:13\"},\"current\":{\"last_updated_epoch\":1705514400,\"last_updated\":\"2024-01-17 12:00\",\"temp_c\":-10.0,\"temp_f\":14.0,\"is_day\":1,\"condition\":{\"text\":\"Overcast\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/122.png\",\"code\":1009},\"wind_mph\":11.9,\"wind_kph\":19.1,\"wind_degree\":220,\"wind_dir\":\"SW\",\"pressure_mb\":1015.0,\"pressure_in\":29.96,\"precip_mm\":0.0,\"precip_in\":0.0,\"humidity\":67,\"cloud\":100,\"feelslike_c\":-18.8,\"feelslike_f\":-1.8,\"vis_km\":16.0,\"vis_miles\":9.0,\"uv\":1.0,\"gust_mph\":19.0,\"gust_kph\":30.5},\"forecast\":{\"forecastday\":[{\"date\":\"2024-01-17\",\"date_epoch\":1705449600,\"day\":{\"maxtemp_c\":-8.2,\"maxtemp_f\":17.3,\"mintemp_c\":-15.5,\"mintemp_f\":4.1,\"avgtemp_c\":-11.4,\"avgtemp_f\":11.5,\"maxwind_mph\":16.1,\"maxwind_kph\":25.9,\"totalprecip_mm\":0.66,\"totalprecip_in\":0.03,\"totalsnow_cm\":0.55,\"avgvis_km\":9.1,\"avgvis_miles\":5.0,\"avghumidity\":88,\"daily_will_it_rain\":0,\"daily_chance_of_rain\":65,\"daily_will_it_snow\":0,\"daily_chance_of_snow\":17,\"condition\":{\"text\":\"Patchy moderate snow\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/329.png\",\"code\":1216},\"uv\":2.0},\"astro\":{\"sunrise\":\"07:15 AM\",\"sunset\":\"04:46 PM\",\"moonrise\":\"10:52 AM\",\"moonset\":\"No moonset\",\"moon_phase\":\"Waxing Crescent\",\"moon_illumination\":37,\"is_moon_up\":1,\"is_sun_up\":0},\"hour\":[{\"time_epoch\":1705471200,\"time\":\"2024-01-17 00:00\",\"temp_c\":-15.5,\"temp_f\":4.1,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":15.9,\"wind_kph\":25.6,\"wind_degree\":240,\"wind_dir\":\"WSW\",\"pressure_mb\":1019.0,\"pressure_in\":30.08,\"precip_mm\":0.0,\"precip_in\":0.0,\"snow_cm\":0.0,\"humidity\":88,\"cloud\":20,\"feelslike_c\":-26.0,\"feelslike_f\":-14.9,\"windchill_c\":-26.0,\"windchill_f\":-14.9,\"heatindex_c\":-15.5,\"heatindex_f\":4.1,\"dewpoint_c\":-17.0,\"dewpoint_f\":1.5,\"will_it_rain\":0,\"chance_of_rain\":0,\"will_it_snow\":0,\"chance_of_snow\":0,\"vis_km\":10.0,\"vis_miles\":6.0,\"gust_mph\":21.1,\"gust_kph\":34.0,\"uv\":1.0,\"short_rad\":0.0,\"diff_rad\":0.0},{\"time_epoch\":1705474800,\"time\":\"2024-01-17 01:00\",\"temp_c\":-15.5,\"temp_f\":4.1,\"is_day\":0,\"condition\":{\"text\":\"Clear\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/113.png\",\"code\":1000},\"wind_mph\":16.1,\"wind_kph\":25.9,\"wind_degree\":239,\"wind_dir\":\"WSW\",\"pressure_mb\":1018.0,\"pressure_in\":30.06,\"precip_mm\":0.0,\"precip_in\":0.0,\"snow_cm\":0.0,\"humidity\":89,\"cloud\":15,\"feelslike_c\":-26.0,\"feelslike_f\":-14.8,\"windchill_c\":-26.0,\"windchill_f[...]
